

.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    color: white;
    font-size: 10px;
    font-style: italic;
    letter-spacing: 1px;
    width: 100%;
    animation: marqueeAnimation 50s linear infinite; 
  }
  /* overflow: hidden;
  white-space: nowrap;
  width: 100%;
  animation: marqueeAnimation 50s linear infinite; */
  @media screen and (max-width: 768px) {
    .marquee-container {
      animation-duration: 10s; /* Adjust as needed */
    }
  }
  
  @keyframes marqueeAnimation {
    from {
      transform: translateX(100%); /* Start off-screen to the right */
    }
    
    to {
      transform: translateX(-100%); /* Move off-screen to the left */
    }
  }
  